.LotteryBall p {
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  padding: 2em;
}
