.Lottery-balls {
  display: flex;
  justify-content: center;
}

.Lottery {
  border: 1px solid black;
}

.Lottery h1 {
  font-size: 3rem;
}
.Lottery-generateBtn {
  background-color: royalblue;
  border-radius: 7%;
  border: none;
  font-size: 1.5rem;
  margin-top: 2em;
  padding: 1em 2.5em;
}
